.App
{
  height: 100%;
  width: 100%;
  background-image: url('C:\Users\Hp\Documents\Tic Tac Toe\tic\src\bgimg.png');
  background-size:100%;
  background-position: center;
  background-color:black ;
}

button {
  align-items: center;
  padding: 70px 70px;
  font-size: 30px;
  color: rgb(10, 9, 9);
  border: navajowhite;
  border-radius: 5px;
  cursor:auto;
  background-color: rgb(238, 241, 239);

}

.title {
  font-family: 'Arial', sans-serif; 
  font-size:4em;
  text-align: center;
  text-shadow: 45cm;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgb(186, 171, 171);
}

.whole
{
  height: 100%;
  width: 100%;
}


